@import "tailwindcss";
@plugin "daisyui";

@theme {
	--default-font-family: "Quicksand Variable", sans-serif;
}

@layer base {
	:root {
		scrollbar-gutter: auto;
	}

	button {
		@apply cursor-default!;
	}

	strong {
		@apply font-medium;
	}

	.modal {
		scrollbar-gutter: stable;
	}

	:focus-visible {
		@apply outline-2 outline-primary;
	}
}

@utility container {
	@apply mx-auto px-4;
}

@utility btn-icon {
	@apply -ml-1 size-5;
	.btn-sm & {
		@apply -mr-0.5 size-4;
	}
}

@utility btn {
	@apply outline-2 outline-offset-0 outline-transparent!;

	&:focus-visible {
		@apply outline-offset-0 outline-primary!;
	}
}

@utility input {
	@apply border-black/25 bg-black/10 shadow-none outline-2 outline-offset-0 outline-transparent transition;

	&:focus,
	&:focus-within {
		@apply bg-black/30 outline-offset-0 outline-primary;
	}
}
