@import "tailwindcss";
@plugin "daisyui";

@theme {
	--default-font-family: "Quicksand Variable", sans-serif;
}

@layer base {
	:root {
		scrollbar-gutter: auto;
	}

	button {
		@apply cursor-default!;
	}

	strong {
		@apply font-medium;
	}

	.modal {
		scrollbar-gutter: stable;
	}
}
